<div class="bg">
  <h1 class="headline zoomIn">
    <span id="thought">Thought</span>
    <span id="works">Works</span>
  </h1>
  <div id="tagline" class="tagline">
    <p class="tagline-text  slideInLeft">
      <!-- When you dont need a therapist but a good travel plan ! -->
      Among all the beautiful life stories,
      <br>best ones are found on the boarding passes !
    </p>
  </div>
  <div class="fadeIn">
    <div id="search-btn" class="search-btn">
      <button class="btn-primary std swing  " routerLink="/search">
        <span class=""> Add another Story</span>
      </button>
    </div>
  </div>
</div>
