.tagline,
.search-btn,
.headline {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  text-align: center;
  line-height: 1.3;
  transform: translate(-50%, -50%);
}

.headline {
  top: 25%;
  color: #fafafa;
  font-size: 4em;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headline span {
  font-weight: 900;
}

.headline span#thought {
  color: #e91e63;
}

.headline span#works {
  color: #009688;
}

#tagline {
  top: 40%;
  width: 80%
}

#search-btn {
  top: 50%;
}

.tagline-text {
  font-size: 2em;
  color: #e6d49c;
  text-transform: capitalize;
  animation-delay: 0.5s;
  animation: slideInLeft 1s ease-in;
}

.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../../../assets/img/landing-bg.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.fadeIn {
  animation: fadeIn 3.5s ease-in;
}

@media screen and (max-width: 768px) {
  #tagline,
  bg>h1 {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 540px) {
  #tagline,
  bg>h1 {
    font-size: 0.7em;
  }
}
